      <!-- navbar header -->
      <div class="navbar-header">
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-eercast"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="m-l-xs">{{app.name}}</span>             
        </a>
        <!-- / brand -->


      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse">

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
           
          <!--<li class="hidden-xs">
            <a ui-fullscreen></a>
          </li>-->

          <li class="dropdown" uib-dropdown>
            <a href class="dropdown-toggle clear" uib-dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md">{{account}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li>
                <a ui-sref="app.systemmanage.account.resetpwd({name:account})">修改密码</a>
              </li>
              <li>
                <a ng-click="logOut()">退出登录</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->