<div ng-controller="AdjustCtrl" id="mapContainer">
    <div id="map" ng-style="mapHeight"></div>

    <!--搜索框-->
    <section id="search" class="search">
        <header class="searchbox">
            <div class="iptbox">
                <input type="text" ng-model="search.params.query" id="searchipt" placeholder="输入名称、地址..." maxlength="256" autocomplete="off" ng-change="propertiesSuggest()">
                <div class="iptAddOn" ng-if="search.config.searching">
                    <span id="loading" class="ring"></span>
                </div>
            </div>
            <div class="advanceSearch" ng-click="searchProperties()">
                <i class="iconfont icon-search searchBtn" title="搜索"></i>
            </div>

            <div ng-if="suggestedProperties.length>0" class="autocomplete-suggestions fade-in-left">

                <div class="poi autocomplete-suggestion" data-index="{{$index}}" ng-repeat="suggestProperty in suggestedProperties" ng-click="searchPropertyBySuggestion(suggestProperty)">
                    <p>
                        <i class="iconfont icon-location"></i>
                        <span class="sug_val" ng-bind-html="suggestProperty.name | highlight:search.params.query"></span>
                        <span class="district" poiid="{{suggestProperty.id}}" ng-bind-html="suggestProperty.governmentName | highlight:search.params.query"></span>
                    </p>
                </div>
            </div>
        </header>
    </section>
    <!--搜索框 结束-->
    <!--搜索结果   -->
    <div ng-if="search.config.filterModel && selectedProperty==null" id="searchResultBox">
        <section class="searchContainer  wrapper-xs">
            <section id="serp">
                <header class="serp-head">
                    <h5 class="serp-title text-center">共有<span class="text-danger-dker font-bold">{{properties.length}}</span>个结果</h5>
                    <a href="javascript:void(0)" class="upButton text-info" ng-click="search.config.searchResultBoxFolder=!search.config.searchResultBoxFolder">
                        <i ng-if="!search.config.searchResultBoxFolder">下拉</i>
                        <i ng-if="search.config.searchResultBoxFolder">收起</i>
                    </a>
                    <div class="serp-filter"></div>
                </header>
                <div class="serp-body" ng-style="mapSearchResultHeight" ng-if="search.config.searchResultBoxFolder">
                    <div class="scrollContainer" ng-nicescroll nice-option="{cursorcolor: '#e2edff'}" ng-if="properties.length>0">
                        <ul class="serp-list no-padder" infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-container='".scrollContainer"'>
                            <li class="poibox poibox-normal amap-marker" id="{{property.id}}" ng-repeat="property in showProperties" ng-click="selectProperty(property.id,true)">
                                <div class="poi-imgbox">
                                    <span class="poi-img" style="background-image:url(../../../img/timg.jpg)"></span>
                                </div>
                                <div class="poi-info-left">
                                    <div class="poi-title">
                                        <span class="poi-name" title="{{property.name}}">{{$index+1}}.&nbsp;{{property.name}}</span>
                                    </div>
                                    <div class="poi-info">
                                        <p class="poi-propertyType">{{property.governmentType}}</p>
                                        <p class="poi-region">{{property.address}}</p>
                                        <p class="poi-address">{{property.person}}</p>
                                        <p class="poi-governmentName">{{property.tel}}</p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="serp-paging" ng-if="false">
                    <b class="paging-current">1/44页</b>
                    <span class="paging-next" pageno="2"><i class="iconfont icon-chevronright"></i></span>
                    <span class="paging-index" pageno="1">首页</span>
                </div>
            </section>
        </section>
    </div>
    <!--搜索结果 结束-->
    <!--详细信息-->
    <div ng-if="selectedProperty!=null" id="propertyDetailBox" class="panel-list fade-in-up">
        <header class="placeimg">
            <div class="imgfeedlist" style="display: block;">
                <a href="/detail/B023B1CBOT?citycode=330100" target="_blank">
                    <div class="imgfeed" style="background-image: url(../../../img/timg.jpg)"></div>
                </a>
            </div>
            <a ng-click="clearSelcted()" style="position:absolute;top:0px;right:10px;">返回</a>
        </header>
        <h4 class="text-primary font-bold padder">
            <a ui-sref="app.property.government({id:selectedProperty.id})">{{selectedProperty.name}}</a>
        </h4>
        <div ng-style="mapDetailHeight">
            <div class="panel-default" style="height:100%" ng-nicescroll nice-option="{cursorcolor: '#e2edff'}">
                <!--<div class="panel-heading">基本信息</div>-->
                <table class="table table-striped table-hover table-border m-b-none">
                    <tbody>
                        <tr>
                            <td class="font-bold">单位性质</td>
                            <td>{{selectedProperty.governmentType}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">地址</td>
                            <td>{{selectedProperty.address}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">联系人</td>
                            <td>{{selectedProperty.person}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">联系方式</td>
                            <td>{{selectedProperty.tel}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">编制人数</td>
                            <td>{{selectedProperty.peopleCount}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">实有人数</td>
                            <td>{{selectedProperty.realPeopleCount}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">土地来源</td>
                            <td>{{selectedProperty.landOrigin}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">占地面积</td>
                            <td>{{selectedProperty.landArea | unit: 'carea'}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">办公面积</td>
                            <td>{{selectedProperty.officeArea | unit: 'carea'}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">建筑面积</td>
                            <td>{{selectedProperty.constructArea | unit: 'carea'}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">房屋总层数</td>
                            <td>{{selectedProperty.floor}} 层</td>
                        </tr>
                        <tr>
                            <td class="font-bold">土地证</td>
                            <td>{{selectedProperty.hasLandCard}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">房产证</td>
                            <td>{{selectedProperty.hasConstructCard}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">出租证</td>
                            <td>{{selectedProperty.hasRentInCard}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">租用证</td>
                            <td>{{selectedProperty.hasRentCard}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">出借证</td>
                            <td>{{selectedProperty.hasLendCard}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">出租面积</td>
                            <td>{{selectedProperty.rentArea}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">承租方</td>
                            <td>{{selectedProperty.rentPart}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">出租信息</td>
                            <td>{{selectedProperty.rentInfo}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">备注</td>
                            <td>{{selectedProperty.remark}}</td>
                        </tr>
                        <tr>
                            <td class="font-bold">上级单位</td>
                            <td>
                                <a class="text-info font-bold" title="">{{selectedProperty.parentGovernment}}</a>
                                <!-- ui-sref="app.property.government({id:selectedProperty.parentGovernmentId})"  -->
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold">下级单位</td>
                            <td>
                                <div ng-repeat="children in selectedProperty.childrenGorvernments">
                                    {{$index+1}} . <a class="text-info font-bold" title="">{{children.name}}</a>
                                    <!--ui-sref="app.property.government({id:children.id})"-->
                                </div>
                            </td>
                        </tr>                         
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--详细信息 结束-->
    <!--地图类型-->
    <div id="mapTools" class="layerbox usel mapType">
        <div id="layerbox_item">
            <!-- 工具组 -->
            <div class="show-list">
                <a class="layer_item advance item " ui-sref="app.map({mapType:0})">
                    <span class="name">资产分布总图</span>
                </a>
                <a class="layer_item advance item " ui-sref="app.map({mapType:1})">
                    <span class="name">注入国资公司分布图</span>
                </a>
                <a class="layer_item advance item " ui-sref="app.map({mapType:2})">
                    <span class="name">拍卖处置分布图</span>
                </a>
                <a class="layer_item heatmap item" ui-sref="app.map({mapType:3})">
                    <span class="name">国有收储（含已收储）分布图</span>
                </a>
                <a class="layer_item advance item active">
                    <span class="name">办公场所分布图</span>
                </a>
            </div>

            <!--筛选面板 " -->
            <div ng-if="search.params.nextStep.injection" class="panel-default fade-in-right-big" id="injectionSettings">
                <div class="panel-body bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox" ng-model="search.params.nextStep.ct" ng-click="searchProperties(true);"><i></i>
                                <span class="icon"><i class="fa fa-circle" style="color:{{search.params.nextStep.ct?colors[0]:''}}"></i></span> 城投公司
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox" ng-model="search.params.nextStep.jt" ng-click="searchProperties(true);"><i></i>
                                <span class="icon"><i class="fa fa-circle" style="color:{{search.params.nextStep.jt?colors[1]:''}}"></i></span> 交投公司
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mask" ng-if="search.config.searching"></div>
    </div>
    <!--地图类型 结束-->
    <!--对话框-->
</div>

 