<div ng-controller="PropertyLendEditCtrl">

    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">资产处置编辑</h1>
            </div>
             
        </div>            
    </div>

    <div class="wrapper-md">
        <form name="propertyProcessForm" class="form-horizontal form-validation w5c-form" role="form" w5c-form-validate="validation.options" novalidate>
            <div class="clearfix m-b" style="margin-top: 20px;">
                <a ui-sref="app.property.process_approve({approveType:'lend'})" class="btn btn-default btn-addon"> <i class="fa fa-arrow-circle-o-left"></i> 资产处置列表</a>
                <button class="btn btn-danger btn-addon pull-right m-l-sm form-horizontal form-validation w5c-form" role="form" w5c-form-submit="validation.saveEntity($event,true)" ng-disabled="processing"> <i class="fa fa-check"></i> 保存，并提交</button>
                <button class="btn btn-danger btn-addon pull-right m-l-sm form-horizontal form-validation w5c-form" role="form" w5c-form-submit="validation.saveEntity($event)" ng-disabled="processing"> <i class="fa fa-check"></i> 保存</button>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">资产处置</div>

                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-lg-2 control-label">借用方</label>
                        <div class="col-lg-10">
                            <input type="text" name="lendName" class="form-control" placeholder="输入借用方名称...." ng-model="lend.name"
                                   ng-required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">借用时间</label>
                        <div class="col-sm-10">
                            <input type="text" ui-jq="daterangepicker" class="form-control" name="daterange" ng-model="lend.lendTime" ui-options="dateOption" />
                        </div>
                    </div>

                    <!--<div class="form-group">
                    <label class="col-lg-2 control-label">归还时间</label>
                    <div class="col-sm-10">
                        <input type="text" ui-jq="daterangepicker" class="form-control" name="backtime" ng-model="lend.backTime" ui-options="dateOption" />
                    </div>
                </div>-->

                    <div class="form-group">
                        <label class="col-lg-2 control-label">出借面积</label>
                        <div class="col-lg-10">
                            <input ui-jq="TouchSpin" name="lendArea" type="text" ng-model="lend.lendArea" class="form-control" data-min='0' data-step="0.001" data-max="1000000000" data-decimals="4" data-postfix="平方米">
                        </div>
                    </div>

                    <webuploader pictures="lend.lendPictures" files="lend.lendFiles" swf-url="swfUrl"
                                 picture-upload-url="pictureUploadUrl" file-upload-url="fileUploadUrl" toaster="show()"></webuploader>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">备注</label>
                        <div class="col-lg-10">
                            <textarea ng-model="lend.remark" class="form-control" name="premark"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
        
</div>
