<div ng-controller="MonthTotalCtrl">

    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">每月统计</h1>
            </div>
             
        </div>
    </div>
    
        <div class="wrapper-md">

            <div class="clearfix m-b">
                <a ui-sref="app.property.list" class="btn btn-default btn-addon"> <i class="fa fa-arrow-circle-o-left"></i> 资产列表</a>
                <button class="btn btn-primary" ng-click="submitall()" style="position:absolute;right:20px" ng-if="submitRecord">全部提交</button>
            </div>
     

            <div class="row">

                <form name="monthTotal" class="form-horizontal form-validation w5c-form" role="form" w5c-form-validate="validation.options" novalidate>

                    <div class="col-md-9 col-lg-9">
                        <div class="panel panel-default" id="inProcessProperties">
                            <div class="panel-heading">
                                本月未修改的资产
                                <div class="col-sm-4 m-b-md" style="position:absolute; right:10px;top:6px">
                                    <input type="text" class="input-sm form-control" placeholder="输入关键字搜索...." ng-model="search">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row" ng-nicescroll nice-option="{cursorcolor: '#e2edff'}" style="min-height:300px;max-height:300px">
                                    <div class="col-xs-12 col-md-3" ng-repeat="p in monthtotal | search1">
                                        <div class="thumbnail" ng-click="showMonthTotal(p)">
                                            <a><img src="{{p.logoUrl}}" alt="..." style="height:159px"></a>
                                            <h4>{{p.name}}</h4>
                                            <div>地址：{{p.address}}</div>
                                            <div>区域：{{p.region}}</div>
                                            <div>产权单位：{{p.governmentName}}</div>
                                            <div>
                                                <button class="btn btn-xs m-r-sm" ng-click="showDetail(p)">处置状况</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="panel-footer">共计<strong>{{monthtotalcount}}</strong>个</div>
                        </div>
                    </div>


                    <div class="col-md-3">

                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">每月统计数据</div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">自用面积</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="currentUse_Self" ui-jq="TouchSpin"  class="form-control" ng-model="property.currentUse_Self" data-min='0' data-step="0.0001" data-max="1000000000" data-decimals="4" data-postfix="平方米">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">出租面积</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="currentUse_Rent" ui-jq="TouchSpin" class="form-control" ng-model="property.currentUse_Rent" data-min='0' data-step="0.0001" data-max="1000000000" data-decimals="4" data-postfix="平方米">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">出借面积</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="currentUse_Lend" ui-jq="TouchSpin" class="form-control" ng-model="property.currentUse_Lend" data-min='0' data-step="0.0001" data-max="1000000000" data-decimals="4" data-postfix="平方米">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">闲置面积</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="currentUse_Idle" ui-jq="TouchSpin" class="form-control" ng-model="property.currentUse_Idle" data-min='0' data-step="0.0001" data-max="1000000000" data-decimals="4" data-postfix="平方米">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">账面价格</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="price"ui-jq="TouchSpin"  class="form-control" ng-model="property.price"data-min='0' data-step="0.0001" data-max="1000000000" data-decimals="4" data-postfix="万元">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">当前时间</label>
                                    <div class="col-lg-9">
                                        {{NowTime}}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">本月收入</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="income"ui-jq="TouchSpin"  class="form-control" ng-model="property.monthTotalModel.income" data-min='0' data-step="0.01" data-max="1000000000" data-decimals="2" data-postfix="元">
                                    </div>
                                </div>
                            </div>


                            <div class="panel-footer" style="height:50px;margin-top:-30px">
                                <div class="row">
                                    <div class="col-sm-9 m-b-md"></div>
                                    <div class="col-sm-3 m-b-md">
                                        <button type="submit" class="btn  btn-success" w5c-form-submit="validation.saveEntity(property)">提交</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>

              
                </div>


            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <div class="panel panel-default" id="inProcessProperties">
                        <div class="panel-heading">
                            本月已修改的资产
                            <div class="col-sm-4 m-b-md" style="position:absolute; right:10px;top:6px">
                                <input type="text" class="input-sm form-control" placeholder="输入关键字搜索...." ng-model="search1">
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" ng-nicescroll nice-option="{cursorcolor: '#e2edff'}" style="min-height:300px;max-height:300px">
                                <div class="col-xs-12 col-md-3" ng-repeat="p in submonthtotal | search2">
                                    <div class="thumbnail" ng-click="showMonthTotal(p)">
                                        <a><img src="{{p.logoUrl}}" alt="..." style="height:159px"></a>
                                        <h4>{{p.name}}</h4>
                                        <div>地址：{{p.address}}</div>
                                        <div>区域：{{p.region}}</div>
                                        <div>产权单位：{{p.governmentName}}</div>
                                        <div>
                                            <button class="btn btn-xs m-r-sm" ng-click="showDetail(p)">处置状况</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-footer">共计<strong>{{submonthtotalcount}}</strong>个</div>
                    </div>
                </div>
           
            </div>             
            </div>

            <!--后台错误-->
            <div class="form-group" ng-if="errorMsg">
                <div class="col-lg-12 col-md-12">
                    <div class="alert alert-danger" ng-bind-html="errorMsg">
                    </div>
                </div>
            </div>

    

</div>